.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-control {
  display: flex;
  margin: 0.3em;
}

.form-label {
  width: 30%;
  text-align: right;
  padding: 0.3em;
}

.has-error .form-label {
  color: red;
}

.has-error .form-input {
  border: red 1px solid;
}

.form-input-box {
  width: 70%;
}

.form-input {
  width: 100%;
}

.form-error {
  color: red;
}

.form-input-group {
  display: inline-block;
}

.form-radio-option {
  display: inline;
}

.submit {
  margin-left: 30%;
}
